In [50]:
import numpy as np
import pandas as pd

In [51]:
df = pd.read_csv("D:\\PythonML_Practise\\Class Material\\Recommendation engine\\Recommendation Engine Articles.csv")
df.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,1459192779,CONTENT REMOVED,-6.45E+18,4.34E+18,8.94E+18,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,CONTENT SHARED,-4.11E+18,4.34E+18,8.94E+18,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7.29E+18,4.34E+18,8.94E+18,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6.15E+18,3.89E+18,-1.46E+18,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2.45E+18,4.34E+18,8.94E+18,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [57]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df['title'] = df['title'].fillna('')

#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df['title'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(3170, 7023)

In [106]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 1.        , 0.07923968, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 0.07923968, ..., 0.        , 0.        ,
        0.        ],
       [0.07923968, 0.07923968, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [107]:
mat = cosine_sim.argsort(axis=1)

In [111]:
pd.DataFrame(mat[:,-5 :])

         0     1     2     3     4
0      188  2497   191     1     0
1      188  2497   191     1     0
2       56  2214  2126   889     2
3     2605  1258  1164   146     3
4     1203     7  1274  3143     4
5      183   394  1246  2804     5
6     1818  2530  2214   379     6
7     1619     4   907  1274     7
8     2497   187  2214   191     8
9      726   206  2552  1085     9
10    2128  3042  1723  1236    10
11      73   457   426    12    11
12    1028    73   426    11    12
13    2276  1919  1867   518    13
14     867  1703  1708   164    14
15    1441  2908  1723    98    15
16    1767   577  1570    17    16
17    3034  2235   577    16    17
18     190   188   191  2214    18
19    3053  3054  3055  1268    19
20    2214  2399   112   948    20
21    1829  2599  2990  1877    21
22     439   103  1512  2893    22
23     590   267  1397  2614    23
24    2139  1238  2259  1862    24
25    2976   688   521    42    25
26    2179  2276   140  3089    26
27    1052  2871  2882  3000    27
28    1490  2273  1263    87    28
29     613  1308  1496   687    29
...    ...   ...   ...   ...   ...
3140  2897  2835   742  3096  3140
3141  2123  1701  1450  3137  3141
3142  2142  1322  3081   935  3142
3143  1463   733     4   231  3143
3144   125  2512   146  2894  3144
3145  1928  1913  2311  2310  3145
3146  2023  2331  1659  1041  3146
3147  2725  1802  1402  2388  3147
3148   183   754   394   231  3148
3149  1739  1490   200  2659  3149
3150   909   956  2424  2702  3150
3151  1846  1845  2500  1189  3151
3152   610   401   407   406  3152
3153  1504  2692   111    98  3153
3154  2583  2582  1356   981  3154
3155   704  3075   886   678  3155
3156  1505  1300  1682   706  3156
3157   966  1796  2806  2900  3157
3158  2938  2603  3017  2498  3158
3159  2605  1959  1345  1797  3159
3160  2132  2512  1131   682  3160
3161  1703  3118  1415  1392  3161
3162  2343  3115  2119  2216  3162
3163  2541   781  1160  1420  3163
3164  2982  1612   663  3169  3164
3165  2926  2345  3037  2911  3165
3166   705  2909   167   299  3166
3167  1805  2974   110   663  3167
3168   589  2539  1562     3  3168
3169  3057   183  1612  3164  3169

[3170 rows x 5 columns]